<h1 class="text-center my-4"> Редактировать статью</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <%= form_for :article, url: article_path(@article), method: :put do |f| %>

       <div class="form-group">
           <%= f.label :Заголовок %>
          <%= f.text_field :title, class: 'form-control'  %>

         <%= f.label :Текст %>
          <%= f.text_area :text, class: 'form-control'  %>

       </div>
          <%= f.submit 'Сохранить', class: 'btn-success' %>

      <% end %>
    </div>
  </div>
</div>
