<h1 class="text-center my-4">Список статей</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% @article.each do |article| %>
        <h2>
          <%= article.title %></h2>
        <p>
          <%= article.text %></p>
        <p><%= link_to 'Читать', article_path(article) %> |
          <%= link_to 'редактировать', edit_article_path(article) %> |
          <%= link_to 'Удалить', article_path(article), method: :delete, data: {confirm: 'Вы уверены?'} %> |


        </p>
        <hr>

      <% end %>
    </div>
  </div>
</div>