<h1 class="text-center"><%= @article.title %></h1>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
<p class="lead p_bang p-3">
  <%= @article.text %>
</p>
<h2>Комментарий</h2>

<% @article.comments.each do |comment| %>
  <p>
    <i><%= comment.autor %> сказал</i> <br></p>
  <%= comment.body %>
<% end %>

<h3>добавить комментарий</h3>
<p>
 
  <%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    Автор <br>
    <%= f.text_field :autor %>
  </p>
  <p>
    body <br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <p><%= Time.now %></p>

<% end %>
      </div>
  </div>
</div>
