<h1><%= @article.title %></h1>
<p>
  <%= @article.text %>
</p>
<h2>Комментарий</h2>

<% @article.comments.each do |comment| %>
  <p>
 <i><%= comment.autor %> сказал</i> <br> </p>
  <%= comment.body %>
<% end %>

<h2>добавить комментарий</h2>
<p>
  <%= form_for([@article, @article.comments.build])  do |f| %>
  <p>
    Автор <br>
    <%= f.text_field :autor %>
  </p>
  <p>
    body <br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>
