<h1>Контакты</h1>

<div class="container">
  <div class="row">
    <div class="col-sm12">

      <%= form_for :contact, url: contacts_path do |f|  %>
        <% if @contact %>
          <p>
            <%= @contact.errors.full_messages  %>
          </p>
        <% end %>
        <p>
          Почта <br>
          <%= f.text_field :email %>
        </p>
        <p>
          Текст <br>
          <%= f.text_area :messge %>
        </p>
        <p>
          <%= f.submit 'Отправить' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
